@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800&display=swap");

:root {
  --primary-color: #007bff; /* blue */
  --secondary-color: #6c757d; /* gray */
  --accent-color: #FFEE58; /* yellow */
  /* Add more color variables as needed */
}
